views/addUser.pug
extends layout

block content
    include adminLeft
    #page-wrapper
        .row
            .col-md-4.col-md-offset-4
                .login-panel.panel.panel-default
                    .panel-heading
                        h3.panel-title=title
                    .panel-body
                        form(role='form' id="addUser")
                            fieldset
                                input(type='hidden', name='_csrf', value=csrf)
                                p.alert.alert-danger(style='display:none')
                                .form-group
                                    input.form-control(placeholder='请输入员工姓名', name='username', type='text', autofocus='')
                                .form-group
                                    input.form-control(placeholder='请输入员工手机号', name='mobile', type='text', autofocus='')
                                .form-group
                                    input.form-control(placeholder='请输入密码', name='password', type='password', value='')
                                .form-group
                                    input.form-control(placeholder='请再次输入密码', name='password2', type='password', value='')
                                .form-group
                                    input.form-control(placeholder='备注，如员工职位等信息', name='remarks', type='text', value='')
                                .form-group
                                    button.btn.btn-lg.btn-success.btn-block(type='button' onclick='addUser()') 注册
block js
    script(src='/javascripts/user.js')

views/addUser.html
<!DOCTYPE html><html lang="zh-CN"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title></title><link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"><link href="/stylesheets/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script><![endif]--></head><body><div id="wrapper"><!-- Navigation--><nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;"><div class="navbar-header"><button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand">投融资项目管理系统</a></div><ul class="nav navbar-top-links navbar-right"><li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a><ul class="dropdown-menu dropdown-user"><li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>退出登录</a></li></ul><!-- /.dropdown-user--></li><!-- /.dropdown--></ul><!-- /.navbar-top-links--><div class="navbar-default sidebar" role="navigation"><div class="sidebar-nav navbar-collapse"><ul class="nav" id="side-menu"><li><a href=""><i class="fa fa-dashboard fa-fw"></i>控制台</a></li><li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 模版管理<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="/projectModelList">项目模板列表</a></li><li><a href="/formModelList">表单模板列表</a></li><li><a href="/tableModelList">表格模板列表</a></li></ul></li><li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 项目管理<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="/projectList">项目列表</a></li><li><a href="/createProject">创建项目</a></li></ul></li><li><a href="/createProjectModel"><i class="fa fa-table fa-fw"></i>创建项目模板</a></li><li><a href="/projectModelList"><i class="fa fa-table fa-fw"></i>项目模板管理</a></li><li><a href="/createFormModel"><i class="fa fa-table fa-fw"></i>创建表单模板</a></li><li><a href="/formModelList"><i class="fa fa-table fa-fw"></i>表单模板管理</a></li><li><a href="/createTableModel"><i class="fa fa-table fa-fw"></i>创建表格模板</a></li><li><a href="/tableModelList"><i class="fa fa-table fa-fw"></i>表格模板管理</a></li><li><a href="/createProject"><i class="fa fa-table fa-fw"></i>创建项目</a></li><li><a href="/projectList"><i class="fa fa-table fa-fw"></i>项目列表</a></li><li><a href="/userList"><i class="fa fa-table fa-fw"></i>员工管理</a></li></ul></div></div></nav></div><div class="container"><div class="row"><div class="col-md-4 col-md-offset-4"><div class="login-panel panel panel-default"><div class="panel-heading"><h3 class="panel-title">注册员工账号</h3></div><div class="panel-body"><form role="form" action="/api/user/add" method="post"><fieldset><input type="hidden" name="_csrf"><p></p><div class="form-group"><input class="form-control" placeholder="请输入员工姓名" name="username" type="text" autofocus=""></div><div class="form-group"><input class="form-control" placeholder="请输入员工手机号" name="mobile" type="text" autofocus=""></div><div class="form-group"><input class="form-control" placeholder="请输入密码" name="password" type="password" value=""></div><div class="form-group"><input class="form-control" placeholder="请再次输入密码" name="password" type="password" value=""></div><div class="form-group"><input class="form-control" placeholder="备注，如员工职位等信息" name="remarks" type="text" value=""></div><div class="form-group"><button class="btn btn-lg btn-success btn-block" type="submit">注册</button></div></fieldset></form></div></div></div></div></div></body><script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script><script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.js"></script><script src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js"></script><script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script><script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script><script src="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script></html>
