views/createProjectModel.pug
extends layout

block content
    include adminLeft
    // Modal
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title 请填写流程信息
                .modal-body
                    form(id='status')
                        input(type='hidden', name='_csrf', value=csrf)
                        .form-group
                            label(for='statusOrder') 流程顺序
                            input#statusOrder.form-control(type='number', placeholder='请填写数字，如：1', name='statusOrder')
                        .form-group
                            label(for='statusName') 流程名称
                            input#statusName.form-control(type='text', placeholder='请填写流程名称', name='statusName')
                        .form-group
                            label(for='statusInfo') 流程说明
                            textarea#statusInfo.form-control(type='text', placeholder='请填写流程说明', name='statusInfo')
                        .form-group#formModels
                            label 流程需填写表单
                            each val,index in formList
                                .checkbox
                                    label
                                        input(type='checkbox', value=val._id)
                                        span=val.formName
                        .form-group#tableModels
                            label 流程需填写表格
                            each val,index in tableModelList
                                .checkbox
                                    label
                                        input(type='checkbox', value=val._id)
                                        span=val.tableName
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button', onclick='addStatus()') 添加
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary#delete(type='button') 确认
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header 创建项目模板
        .row
            .col-lg-12
                .alert.alert-success(role='alert', style='display:none', id='alert-success')
                    a.alert-link(href='#') 创建项目模版成功！
                .alert.alert-danger(role='alert', style='display:none', id='alert-danger')
                    a.alert-link(href='#') 创建项目模版失败，请重试
                form(role='form' method='post' id="projectModel")
                    .form-group
                        label 模板名称
                        input.form-control(name='title', placeholder='模板名称')
                    .form-group
                        label 模板备注
                        textarea.form-control(name='instruction', placeholder='模板备注', rows="4")
                    input(type='hidden', name='_csrf', value=csrf)
                    .form-group
                        label 流程列表
                        #toolbar
                            button#btn_add.btn.btn-default(type='button', style="margin-right:10px;")
                                span.glyphicon.glyphicon-plus(aria-hidden='true')
                                | 新增
                            //button#btn_delete.btn.btn-default(type='button', onclick='delMore()')
                            //    span.glyphicon.glyphicon-remove(aria-hidden='true')
                            //    | 选择删除
                        table.table.table-striped.table-bordered.table-hover(id="projectModelTable")
                        button.btn.btn-success(type='button', onclick='createProjectModel()') 提交

block js
    script(src='/javascripts/projectModel.js')

views/createProjectModel.html
<!DOCTYPE html><html lang="zh-CN"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title></title><link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"><link href="/stylesheets/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script><![endif]--></head><body><div id="wrapper"><!-- Navigation--><nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;"><div class="navbar-header"><button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand">投融资项目管理系统<!--img(alt="Brand", width="20", height="20", src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAB+0lEQVR4AcyYg5LkUBhG+1X2PdZGaW3btm3btm3bHttWrPomd1r/2Jn/VJ02TpxcH4CQ/dsuazWgzbIdrm9dZVd4pBz4zx2igTaFHrhvjneVXNHCSqIlFEjiwMyyyOBilRgGSqLNF1jnwNQdIvAt48C3IlBmHCiLQHC2zoHDu6zG1iXn6+y62ScxY9AODO6w0pvAqf23oSE4joOfH6OxfMoRnoGUm+de8wykbFt6wZtA07QwtNOqKh3ZbS3Wzz2F+1c/QJY0UCJ/J3kXWJfv7VhxCRRV1jGw7XI+gcO7rEFFRvdYxydwcPsVsC0bQdKScngt4iUTD4Fy/8p7PoHzRu1DclwmgmiqgUXjD3oTKHbAt869qdJ7l98jNTEblPTkXMwetpvnftA0LLHb4X8kiY9Kx6Q+W7wJtG0HR7fdrtYz+x7iya0vkEtUULIzCjC21wY+W/GYXusRH5kGytWTLxgEEhePPwhKYb7EK3BQuxWwTBuUkd3X8goUn6fMHLyTT+DCsQdAEXNzSMeVPAJHdF2DmH8poCREp3uwm7HsGq9J9q69iuunX6EgrwQVObjpBt8z6rdPfvE8kiiyhsvHnomrQx6BxYUyYiNS8f75H1w4/ISepDZLoDhNJ9cdNUquhRsv+6EP9oNH7Iff2A9g8h8CLt1gH0Qf9NMQAFnO60BJFQe0AAAAAElFTkSuQmCC")--></a></div><!-- /.navbar-header--><ul class="nav navbar-top-links navbar-right"><li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a><ul class="dropdown-menu dropdown-user"><li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>退出登录</a></li></ul><!-- /.dropdown-user--></li><!-- /.dropdown--></ul><!-- /.navbar-top-links--><div class="navbar-default sidebar" role="navigation"><div class="sidebar-nav navbar-collapse"><ul class="nav" id="side-menu"><li><a href=""><i class="fa fa-dashboard fa-fw"></i>控制台</a></li><!--li--><!--  a(href='#')--><!--    i.fa.fa-bar-chart-o.fa-fw--><!--    | Charts--><!--    span.fa.arrow--><!--  ul.nav.nav-second-level--><!--    li--><!--      a(href='flot.html') Flot Charts--><!--    li--><!--      a(href='morris.html') Morris.js Charts// /.nav-second-level--><li><a href="/createProjectModel"><i class="fa fa-table fa-fw"></i>创建项目模板</a></li><li><a href="/projectModelList"><i class="fa fa-table fa-fw"></i>项目模板管理</a></li><li><a href="/createFormModel"><i class="fa fa-table fa-fw"></i>创建表单模板</a></li><li><a href="/formModelList"><i class="fa fa-table fa-fw"></i>表单模板管理</a></li><li><a href="/createTableModel"><i class="fa fa-table fa-fw"></i>创建表格模板</a></li><li><a href="/tableModelList"><i class="fa fa-table fa-fw"></i>表格模板管理</a></li><li><a href="/createProject"><i class="fa fa-table fa-fw"></i>创建项目</a></li><li><a href="/userList"><i class="fa fa-table fa-fw"></i>员工管理</a></li></ul></div></div></nav></div><!-- Modal--><div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="myModalLabel">请填写流程信息</h4></div><div class="modal-body"><form id="status"><input type="hidden" name="_csrf"><div class="form-group"><label for="statusOrder">流程顺序</label><input class="form-control" id="statusOrder" type="number" placeholder="请填写数字，如：1"></div><div class="form-group"><label for="statusName">流程名称</label><input class="form-control" id="statusName" type="text" placeholder="请填写流程名称"></div><div class="form-group"><label for="statusInfo">流程说明</label><input class="form-control" id="statusInfo" type="text" placeholder="请填写流程说明"></div><div class="form-group" id="formModels"><label>流程需填写表单</label><div class="checkbox"><label><input type="checkbox" value="表单一">    表单一</label></div></div></form></div><div class="modal-footer"><button class="btn btn-default" type="button" data-dismiss="modal">取消</button><button class="btn btn-primary" type="button" onclick="addStatus()">添加</button></div></div></div></div><div id="page-wrapper"><div class="row"><div class="col-lg-12"><h1 class="page-header">创建项目模板</h1></div></div><div class="row"><div class="col-lg-12"><div class="alert alert-success" role="alert" style="display:none;" id="alert-success"><a class="alert-link" href="#">创建项目模版成功！</a></div><div class="alert alert-danger" role="alert" style="display:none;" id="alert-danger"><a class="alert-link" href="#">创建项目模版失败，请重试</a></div><form role="form" method="post" id="projectModel"><div class="form-group"><label>模板名称</label><input class="form-control" name="title" placeholder="模板名称"></div><div class="form-group"><label>模板备注</label><input class="form-control" name="instruction" placeholder="模板备注"></div><input type="hidden" name="_csrf"><div class="form-group"><div class="btn-group" id="toolbar"><button class="btn btn-default" id="btn_add" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增</button><button class="btn btn-default" id="btn_delete" type="button" onclick="delMore()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除</button></div><table class="table table-striped table-bordered table-hover" id="projectTable"></table><button class="btn btn-success" type="button" onclick="createProjectModel()">提交</button></div></form></div></div></div></body><script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script><script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.js"></script><script src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js"></script><script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script><script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script><script src="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script><script src="/javascripts/createProjectModelTable.js"></script></html>
